<h1 class="container h1 bg-danger text-white">hola</h1>
<ul>
  <li routerLink="/DataBinding">Exemples Databinding</li>
  <li routerLink="/DataBindingBidreccional">Exemple Bidireccionalitat</li>
  <li routerLink="/Directives">Exemples Directives</li>
</ul>
<router-outlet/>
<!--<app-exemple1/>
<app-exemple-databinding/>
<app-exemple-databinding-pare/>-->
<hr />
<h3>Exemple de databinding 2 camins</h3>
<div id="two-way-1">
  <app-canvitamany [(size)]="fontSizePx"></app-canvitamany>
  <div [style.font-size.px]="fontSizePx">Canvi de tamany del text</div>
  <label>Tamany font (px): <input [(ngModel)]="fontSizePx"></label>
</div>

<hr/>
<!--<app-exemple-directives/>-->
