<h1>Exemple de la directiva ngIf</h1>

<button (click)="toggleParagraf()">Mostra/amaga el paràgraf</button>

<p *ngIf="mostrarParagraf">Aquest paràgraf es mostra si la variable mostrarParagraf és verdadera.</p>

<br/>
<h1>Exemple de la directiva ngFor</h1>
<ul>
  <li *ngFor="let item of llistaItems">{{item}}</li>
</ul>
<h1>Exemple de la directiva ngClass</h1>
<div [ngClass]="{'estilVerd': mostrarVerd, 'estilBlau': mostrarBlau}">
  Aquest div té estil verd o blau en funció de les variables mostrarVerd i mostrarBlau.
</div>

<button (click)="mostrarVerd = !mostrarVerd">Canviar a estil verd</button>
<button (click)="mostrarBlau = !mostrarBlau">Canviar a estil blau</button>

<h1>Exemple de la directiva ngStyle</h1>
<div [ngStyle]="{'color': colorText, 'background-color': colorFons}">
  Aquest div té els colors de text i fons en funció de les variables colorText i colorFons.
</div>
<h1>Exemple de la directiva ngSwitch</h1>
<div [ngSwitch]="mostrarComponent">
  <app-component1 *ngSwitchCase="'component1'"></app-component1>
  <app-component2 *ngSwitchCase="'component2'"></app-component2>
  <app-component3 *ngSwitchDefault></app-component3>
</div>

<hr/>
<form #f="ngForm" (ngSubmit)="enviarFormulari(f)">
  <label>
    Nom:
    <input type="text" [ngModel]="nom" name="nom">
  </label>
  <label>
    Email:
    <input type="email" [ngModel]="email" name="email">
  </label>
  <button type="submit">Enviar</button> <br/>
  <p>{{nom}} {{email}}</p>

</form>
